*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.2;
}

/* Navigation Bar: Logo and Image */
#logo{
    margin: 10px 34px;
}
#logo img{
    height: 59px;
    margin: 3px 6px;
}


/* Navigation Bar: List Styling */

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;
}
#navbar ul li{ 
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
     color: white; 
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}
/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding:3px 200px;
    height: 550px;
    justify-content: center;
    align-items: center;
}
#home::before{ 
    content: "";
    position: absolute;
    background: url('image/bgimg.avif') no-repeat center center/cover;
    height: 642px;
    top:0px;
    left:0px;
    width: 100%;
    z-index: -1;
    opacity:0.89;

}
#home h1{
    color:black;
    text-align: center;
    font-family: 'Bree Serif', serif;
}
#home p{
    color:black;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}
/* Utility Classes */
.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 3.8rem;
    padding: 12px;
}

.h-secondary{
    font-family: 'Bree Serif', serif;
    font-size: 2.3rem;
    padding: 12px;
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid orange;
    margin-top: 13px;
    color: white;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background-color: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.btn:focus{
    outline: none;
}
.srch:focus{
    outline: none;
}

.center{
    text-align: center;
}


/* card section */

.training-section{
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.445),rgba(0,0,0,0.411)),url(image/bgimg.avif) center;
    background-size: cover;
    padding-bottom: 50px;
}

.training-section h1{
    text-align: center;
    padding: 25px 0;
}

.container{
    width: 1170;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    display: flex;

}

.training-items{
    flex-basis: 23%;
    margin: 10px 0;
    background: white;
    text-align: center;
    padding: 20px 0px;
    box-shadow: 0 0 10px 3px lightgray;
}

.training-items h3{
    padding: 10px 0;

}

.training-items p{
    font-size: 10px 0;
}

.training-items button{
    background: blue;
    padding: 10px 25px;
    color: white;
    border: none;
    margin: 10px 0;
    border-radius: 10px;
}

.training-items:hover{
    background: blue;
}

.training-items:hover h3, .training-items:hover p{
    color: white;
}

.training-items:hover button{
    background: white;
    color: blue;
}

.training-items img{
    height: 124px;
}


footer{
    background: black;
    color: white;
    padding: 9px 20px;
}

@media only screen and (min-width:200px) and (max-width:767px){
    .container{
        width: 100%;
        flex-direction: column;
    }
    .training-items{
        margin: 10px;
    }
}
